// @import 'normalize-css/normalize.css';
@import 'normalize.css';
*{
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{

  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  background-color: #16151a;
  color: white;
}


.container{
  display: flex;
  // .left_container{
  //   width: 20vw;
  // }
  .right_container{
    width: 80vw;

  }

}