// Transition Mixin
@mixin display_padding_bg($padding, $bg-color) {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background-color: $bg-color;
    padding: $padding;
  }


  // Using Mixin  in Sidebar & logo
@mixin display_Padding_width($padding) {
  padding: $padding;
  display: flex; 
  align-items: center;
  width: 100%;
}

@mixin transition_ease() {
    &:hover {
      cursor: pointer;
      color: $main-color;
      transition: all 0.3s ease-in-out;
      // border: .1px solid gray;
      svg {
        font-weight: bolder;
      }
    }
  }