.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  // min-height: 300px;
  border-radius: 12px;
  overflow: hidden;
  padding: 4rem 35% 4rem 3.5rem;
  position: relative;

  ::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      4deg,
      rgba(0, 0, 0, 0.7) 7%,
      rgba(0, 0, 0, 0) 30%
    );
    z-index: 1;
  }
}

.buttoncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
