@import "../../styles/colors.module.scss";
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  padding: 8rem 35% 4rem 3.5rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  h1{
    font-size: 4rem ;
    line-height: 1.3;
    z-index: 1;
  }
  p{
    z-index: 1;
    color: white;
    min-height: 7.2rem;
    opacity: .8;
  }

}

.button_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  z-index: 2;
  margin-top: 2.5rem;
}

.button_box button:hover {
  /* Add your button hover effect styles here */
  background-color: $main-color;
  cursor: pointer;
}

