.swiper {
  width: 52rem;
  height: 34rem;
  margin: 2rem 0;
  color: white;

  :global(.swiper-wrapper) {
    .swiper-slide-active {
      width: 52rem !important;
    }
    .swiper-slide {
      width: 52rem !important;
    }
  }

  :global(.swiper-pagination) {
    display: flex;
    position: relative;
    bottom: 60px;
    width: 15rem;
    left: 95rem;
    z-index: 100;
    gap: 0.5rem;

    :global(.swiper-pagination-bullet) {
      background-color: white;
      border-radius: 2px;
      height: 4px;
      width: 1.3rem;
      cursor: pointer;
      opacity: 1; // Swiper's default bullet opacity is 0.5 — override if you want full white
    }
    :global(.swiper-pagination-bullet-active) {
      width: 2rem;
    }
  }

  .navigation {
    margin: 0 1rem;
    display: flex;
    position: relative;
    bottom: 73px;
    width: 5rem;
    left: 110rem;
    z-index: 100;
    gap: 1rem;
  }
}

@media screen and (min-width: 1536px) {
  .swiper {
    width: 130rem !important;
    height: 50rem !important;
    margin: 5rem 0;

    :global(.swiper-wrapper) {
      :global(.swiper-slide) {
        width: 130rem !important;
      }
    }

    :global(.swiper-pagination) {
      text-align: end !important;
      left: 95rem;

      :global(.swiper-pagination-bullet) {
        background-color: white;
        border-radius: 2px;
        height: 4px;
        width: 1.3rem;
        cursor: pointer;
      }
      :global(.swiper-pagination-bullet-active) {
        width: 2rem;
      }
    }
  }

  .navigation {
    left: 110rem;
  }
}
