@use "../../../../app/styles/colors.module.scss" as *;
@use "../../../../app/styles/mixin.module.scss" as *;

.container {
  @include flex-align-center(0 1rem);
  justify-content: space-between;
  span {
    @include flex-align-center();
    font-size: 1.4rem;
    font-weight: 400;

    gap: 0.8rem;

    &:hover {
      font-weight: 600;
      transform: 1s all ease;
    }
  }
}
