@use "../../../app/styles/colors.module.scss" as *;
@use "../../../app/styles/mixin.module.scss" as *;
.main_container {
  margin: 3rem 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 2rem;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 23.5rem;
  height: 100%;
  padding: 1rem 0;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  @include background_transition($sec-color);
  .imgContainer {
    @include flex-align-center();
    justify-content: center;
    max-width: 200px; // Limit the width of the image
    aspect-ratio: 1; // Maintains a 1:1 square aspect ratio
    overflow: hidden; // Ensures the image doesn't overflow the container
  }
  .slideInfo {
    padding: 0 1rem;
    // display: flex;
    // flex-direction: column;
    P {
      margin: 0.3rem;
      font-size: 1.3rem;
    }
  }
}

// ====================================
// ============ Media Queries =========
// ====================================
// ==== Targeting Mobile ==> Desktop ==

@media screen and (min-width: 475px) {
}

@media screen and (min-width: 640px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1536px) {
}
