// .container {

// }

.swiper {
  width: 1230px;
  height: 500px;
  margin: 2rem 0;
  .swiper-wrapper {
    .swiper-slide-active {
      width: 1230px !important;
    }
    .swiper-slide {
      width: 1230px !important;
      margin-right: 0px;
    }
  }
  .swiper-pagination {
    position: relative;
    bottom: 60px;
    width: 15rem;
    left: 95rem;
    z-index: 100;

    .swiper-pagination-bullet {
      background-color: white;
      border-radius: 2px;
      height: 4px;
      width: 1.3rem;
      cursor: pointer;
    }
    .swiper-pagination-bullet-active {
      width: 2rem;
    }
  }
  .navigation{
    margin: 0 1rem;
    display: flex;
    position: relative;
    bottom: 77px;
    width: 5rem;
    left: 110rem;
    z-index: 100;
    gap: 1rem;

  }
}





// ====================================
// ============ Media Queries =========
// ====================================
// ==== Targeting Mobile ==> Desktop ==

@media screen and (min-width: 475px) {
  
}

@media screen and (min-width: 640px) {
  
}

@media screen and (min-width: 768px) {
  .swiper {
    width: 110rem;
    height: 55rem;
    
    .swiper-wrapper {
      .swiper-slide-active {
        width: 110rem !important;
      }
      .swiper-slide {
       width: 110rem !important;
        
      }
    }
    .swiper-pagination {
      left: 85rem;
    }
    .navigation{
      left: 100rem
    }
  }
}

@media screen and (min-width: 1024px) {
  .swiper {
    width: 1230px;
    height: 500px;
    margin: 5rem 4rem;
    .swiper-wrapper {
      .swiper-slide-active {
        width: 1230px !important;
      }
      .swiper-slide {
        width: 1230px !important;
      }
    }
    .swiper-pagination {
      left: 95rem;
      
    }
    .navigation{
      left: 110rem;
    }
  }
}

@media screen and (min-width: 1280px) {
  
}

@media screen and (min-width: 1536px) {
  
  
}
