@import "../../../app/styles/colors.scss";

.container {
  background-color: transparent;

  svg {
    font-size: 2rem;
    &:hover {
      cursor: pointer;
      transition: all 0.6s ease-in-out;

      color: $main-color;
    }
  }
}
