// Search container for input
// @import "../../styles/colors.module.scss", "../../styles/mixin.module.scss";
@use "../../../app/styles/colors.module.scss" as *;
@use "../../../app/styles/mixin.module.scss" as *;

.container {
  display: flex;
  align-items: center;
  width: 45rem;
  input {
    background-color: $bg-color;
    border: 1px solid transparent;
    border-radius: 12px;
    height: 4.6rem;
    position: relative;
    color: #fff;
    outline: none;
    width: 100%;
    padding: 0 60px;
  }
  .search_icon {
    z-index: 2;
    transform: translatex(200%);
    font-size: larger;
    // @include transition_ease();
  }
}

// ====================================
// ============ Media Queries =========
// ====================================
// ==== Targeting Mobile ==> Desktop ==

@media screen and (min-width: 475px) {
}

@media screen and (min-width: 640px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1536px) {
}
