// Search container for input
// @import "../../styles/colors.module.scss", "../../styles/mixin.module.scss";
@use "../../../app/styles/colors.module.scss" as *;
@use "../../../app/styles/mixin.module.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 0 1rem;
  .buttons {
    @include flex-align-center();
    gap: 0.7rem;
  }
  .search {
    @include flex-align-center();
    input {
      background-color: $sec-color;
      border: 1px solid transparent;
      // border-radius: 12px;
      height: 3rem;
      position: relative;
      color: #fff;
      outline: none;
      width: 20rem;
      padding: 0 35px;
      font-size: 1.3rem;
    }
    .search_icon {
      z-index: 2;
      transform: translatex(-19rem);
      font-size: 1.6rem;
      // @include transition_ease();
    }
  }
  .favorite_intro {
    @include flex-align-center();
    h2 {
      font-size: 2.2rem;
    }
    svg {
      fill: #c0c0c0;
      font-size: 2.2rem;
      transition: fill 0.5s;
      margin-right: 12px;
      margin-bottom: 2px;
    }
    // h2 {
    //   color: #c0c0c0;
    // }
  }
  .dynamic_container {
    @include flex-align-center();
    height: 60rem;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1.3rem;
    a {
      width: 100%;
      &:hover {
        background-color: $bg-color;
      }
      .dynamic_wrapper {
        @include flex-align-center();
        gap: 1rem;
        p {
          font-size: 1.3rem;
        }
      }
    }
    overflow-y: auto;
    scroll-behavior: smooth;
    // scrollbar-width: thin;
    // scrollbar-color: $sec-color transparent;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $bg-color;
      opacity: 0.7;
    }
    &::-webkit-scrollbar-thumb:hover {
      opacity: 1;
    }
  }
}

/*
 *  STYLE 2
 */

// ====================================
// ============ Media Queries =========
// ====================================
// ==== Targeting Mobile ==> Desktop ==

// @media screen and (min-width: 475px) {
// }

// @media screen and (min-width: 640px) {
// }

// @media screen and (min-width: 768px) {
// }

// @media screen and (min-width: 1024px) {
//   .container {
//     display: flex;
//   }
// }

// @media screen and (min-width: 1280px) {
// }

// @media screen and (min-width: 1536px) {
// }
