@use "../../../../app/styles/colors.module.scss" as *;
@use "../../../../app/styles/mixin.module.scss" as *;

.container {
  background-color: $main-color;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

// .container {
//   // background-color: #111827;
//   background-color: $main-color;

//   border: 1px solid transparent;
//   border-radius: 0.75rem;
//   box-sizing: border-box;
//   color: #ffffff;
//   flex: 0 0 auto;
//   font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
//     "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
//     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
//   // font-size: 1.125rem;
//   font-weight: 600;
//   line-height: 1.5rem;
//   // padding: .75rem 1.2rem;
//   padding: 1.75rem 2.5rem;

//   text-align: center;
//   text-decoration: none #6b7280 solid;
//   text-decoration-thickness: auto;
//   transition-duration: 0.2s;
//   transition-property: background-color, border-color, color, fill, stroke;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   user-select: none;
//   -webkit-user-select: none;
//   touch-action: manipulation;
//   width: auto;
// }

// .container:focus {
//   box-shadow: none;
//   outline: 2px solid transparent;
//   outline-offset: 2px;
// }

// @media (min-width: 640px) {
//   .container {
//     padding: 1.75rem 2.5rem;
//   }
// }
