@use "../../../app/styles/colors.module.scss" as *;
@use "../../../app/styles/mixin.module.scss" as *;
.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // gap: 5rem;
  // padding: 0 5rem;

  .artist_info {
    flex: 1;
    .imgContainer {
      position: relative; /* Needed for absolute positioning of slideInfo */
      width: 350px;
      height: 350px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the image scales nicely */
      }

      .slideInfo {
        position: absolute;
        bottom: 0; /* Align to the bottom of the container */
        left: 0;
        width: 100%; /* Full width of the image */
        height: 40%; /* Adjust height for the overlay area */
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center content vertically */
        align-items: center; /* Center content horizontally */
        background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
        color: white; /* Text color */
        text-align: center;
        transition: opacity 0.3s ease; /* Smooth fade effect */
      }
    }
  }
}
