@use "../../../app/styles/colors.module.scss" as *;
@use "../../../app/styles/mixin.module.scss" as *;

// Main Container of SideBar
.container {
  position: sticky;

  top: 7rem;
  left: 1rem;

  width: 250px;
  height: calc(100vh - 9rem);

  display: flex;
  flex-direction: column;

  padding: 2rem 1rem 1rem;

  border-radius: 0.8rem;

  background-color: $bg-color;

  color: $text-color;

  border-right: 1px solid $sec-color;

  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);

  z-index: 100;

  flex-shrink: 0;

  // overflow: hidden;
  transition: transform 0.5s ease;
  border-right: 1px solid $sec-color;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  color: $text-color;
}

// ====================================
// ============ Media Queries =========
// ====================================
// ==== Targeting Mobile ==> Desktop ==

@media screen and (min-width: 475px) {
  // .container {
  //   background-color: rgb(255, 105, 97);
  // }
}

@media screen and (min-width: 640px) {
  // .container {
  //   background-color: rgb(90, 155, 213);
  // }
}

@media screen and (min-width: 768px) {
  // .container {

  // }
}

// @media screen and (min-width: 1024px) {
//   .container {
//     display: flex;
//     // position: sticky;
//     padding: 0 1rem;

//     .logo_box {
//       display: none;
//     }
//     .premium_button {
//       display: none;
//     }
//   }
// }

@media screen and (min-width: 1280px) {
  // .container {
  //   background-color: rgb(90, 120, 155);
  // }
}

@media screen and (min-width: 1536px) {
  // .container {
  //   background-color: rgb(120, 90, 155);
  // }
}
