@use "../../../app/styles/colors.module.scss" as *;

.container {
  // margin: 1rem 1rem 1rem 0;
  border-radius: 0.8rem;
  background-color: $sec-color;
  padding: 5rem 3rem 0 3rem;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  color: $text-color;

  .footer {
    margin: 3rem 2rem;
    span {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .container_info {
      display: flex;
      gap: 3rem;
      padding: 2rem 0 3rem 0;
      flex-wrap: wrap;
      div {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 2rem;
      }
      .app_info {
        flex: 2;
        .userInfo {
          &:hover {
            font-weight: 500;
            cursor: pointer;
            svg {
              font-size: 1.8rem;
              fill: $main-color;
              transition: fill 0.5s;
            }
          }
        }
      }
    }
  }
  .copy_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $bg-color;
    padding: 3rem;
    div {
      display: flex;
      gap: 1rem;
      a {
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 150px;
          padding: 1.2rem;
          background-color: $bg-color;
          transition: fill 0.5s; /* Smooth transition effect */

          svg {
            font-size: 1.8rem;
            &:hover {
              color: $main-color;
              transition: fill 0.5s; /* Smooth transition effect */
            }
          }
        }
      }
    }
  }
}
