@use "../../../app/styles/colors.module.scss" as *;
@use "../../../app/styles/mixin.module.scss" as *;

// ====================================
// ============ Media Queries =========
// ====================================
// ==== Targeting Mobile ==> Desktop ==

@media screen and (min-width: 475px) {
}

@media screen and (min-width: 640px) {
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 900px) {
}
@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1536px) {
  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;

    .mainHeading {
      display: flex;
      align-items: center;
      gap: 2rem;
      svg {
        font-size: 3.5rem;
      }
    }
    .info {
      @include flex-align-center(0 1rem 0 0);
      justify-content: space-between;
      &:hover {
        @include background_transition($bg-color);
        .overlay {
          opacity: 0.7;
        }

        .title {
          font-weight: 600;
          // transition: all 0.1s ease-in;
        }
      }

      .content {
        @include flex-align-center();
        gap: 1.5rem;
        .img_box {
          position: relative;
          height: 55px;
          width: 55px;
        }

        .img_box .image {
          width: 100%;
          height: auto;
        }

        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 0.3s ease;
          background-color: $bg-color;
        }

        &:hover .overlay {
          opacity: 0.7;
        }

        .icon {
          color: white;
          font-size: 1.6rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
        }

        .icon:hover {
          color: #eee;
        }
        .details {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;
        }
      }
      span {
        font-size: 1.3rem;
      }
    }
  }
}
